{% extends 'base/base.html' %}
{% block content %}
<div class="container-contact">
	<header class="header">
        <h1 id="title" class="text-center">Contact Form</h1>
        {% if msg_sent: %}
        <h1 style="color: #28a745; text-align:center">Successfully sent your message</h1>
        {% else %}
        <p id="description" class="text-center">
			Have questions? I have answers.
		</p>
        {% endif %}
	</header>
	<div class="form-wrap">	
            <form id="contactForm" name="sentMessage" action="{{ url_for('blog.contact')}}" method="post" data-sb-form-api-token="API_TOKEN">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label id="name-label" for="name">Name</label>
                        <input class="form-control" id="name" name="name" type="text" placeholder="Enter your name..." data-sb-validations="required" required/>
					</div>
				</div>
            </div>

            <div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label id="email-label" for="email">Email</label>
                        <input class="form-control" id="email" name="email" type="email" placeholder="Enter your email..." data-sb-validations="required,email" required />
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label id="phone-label" for="phone">Phone</label>
                        <input class="form-control" id="phone" type="tel" name="phone" placeholder="Enter your phone number..." data-sb-validations="required" required/>
					</div>
				</div>
				
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label>Message</label>
                        <textarea class="form-control" id="message" name="message" placeholder="Enter your message here..." style="height: 12rem" data-sb-validations="required" required></textarea>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-4">
                    <button class="btn text-uppercase" id="submitButton" type="submit">Send</button>
				</div>
			</div>

		</form>
	</div>	
</div>




{% endblock %}
        

