{% extends 'base/base.html' %}
{% block content %}


<!-- Content -->
<div class="w3-content" style="max-width:1100px;margin-top:80px;margin-bottom:80px">
    <!-- Slideshow -->
    <div class="w3-container">
        <div class="w3-display-container mySlides">
            <div class="w3-center" style="padding-bottom: 5%">
                <img src="/static/assets/img/data-science.png" style="width:40%; height: 40%">
            </div>
            <div class="w3-display-topleft w3-container w3-padding-32">
                <!-- <a href="#" class="button w3-white w3-animate-bottom">
                    <span class="w3-padding-large ">                
                        Data Science
                    </span>
                </a> -->
            </div>
        </div>
        <div class="w3-display-container mySlides">
            <div class="w3-center" style="padding-bottom: 5%">
                <img src="/static/assets/img/python.png" style="width:40%; height: 40%">
            </div>
        <div class="w3-display-middle w3-container w3-padding-32">
                <!-- <a href="#" class="button w3-white w3-animate-bottom">
                    <span class="w3-padding-large ">Python</span>
                </a> -->
        </div>
        </div>
        <div class="w3-display-container mySlides">
            <div class="w3-center" style="padding-bottom: 5%">
                <img src="/static/assets/img/web.png" style="width:40%; height:40%">
            </div>
            <div class="w3-display-topright w3-container w3-padding-32">
            <!-- <a href="#" class="button w3-white w3-animate-bottom">
                    <span class="w3-padding-large ">Website</span>
                </a> -->
            </div>
        </div>
        <!-- Slideshow next/previous buttons -->
        <div class="w3-container w3-dark-grey w3-padding w3-xlarge">
        <div class="w3-left" onclick="plusDivs(-1)"><i class="fa fa-arrow-circle-left w3-hover-text-teal"></i></div>
        <div class="w3-right" onclick="plusDivs(1)"><i class="fa fa-arrow-circle-right w3-hover-text-teal"></i></div>
        
        <!--  <div class="w3-center">
            <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
            <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
            <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
        </div>-->
        </div>
    </div>
</div> 


<div class="container-index">
    {% for post in data_card %}
    <div class="card">
        <div class="face face1">
            <div class="content">
                <img src="{{ url_for('static', filename='/assets/post_images/' ~ post.images[0].filename) }}" alt="Images">
                <h3>{{ post.title }}</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>{{ post.subtitle }}</p>
                <a href="{{url_for('post.show_post', post_id=post.id)}}">
                Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>






    <script>
    // Slideshow
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
    showDivs(slideIndex += n);
    }

    function currentDiv(n) {
    showDivs(slideIndex = n);
    }

    function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("demodots");
    if (n > x.length) {slideIndex = 1}    
    if (n < 1) {slideIndex = x.length} ;
    for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";  
    }
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" w3-white", "");
    }
    x[slideIndex-1].style.display = "block";  
    //dots[slideIndex-1].className += " w3-white";
    }
</script>
{% endblock %}


