
<div class="box">
    <ul class="pagination" style="justify-content:center">
        <!-- Button First Previous -->         
        {% if page > 1 %}
        <li>
            <a href="{{ url_for('category.all_categories', page=1) }}">
                <span class="button">
                    First
                </span> 
            </a>   
                <a href="{{ url_for('category.all_categories', page=page-1) }}">   
                <span class="button">
                    Previous
                </span>
            </a>
        </li>
        {% endif %}



        {% for p in pages %}
            {% if p == '...' %}
                <li><span class="page">...</span></li>
            {% elif p == page %}
                <li><a class="page active">{{ p }}</a></li>
            {% else %}
                <li><a href="{{ url_for('category.all_categories', page=p) }}" class="page">{{ p }}</a></li>
            {% endif %}
        {% endfor %}



        <!-- Button Next Last -->         
        {% if page < total_pages %}
        <li class="{{ 'disabled' if page >= total_pages else '' }}">
            <a href="{{ url_for('category.all_categories', page=page+1) }}">
                <span class="button">
                    Next
                </span> 
            </a>   
                <a href="{{ url_for('category.all_categories', page=total_pages) }}">   
                <span class="button">
                Last
                </span>
            </a>
        </li>
        {% endif %}
    </ul>
</div>
