<div class="box">
    <ul class="pagination" style="justify-content:center">
        <!-- Button First Previous -->         
        {% if page > 1 %}
        <li>
            <a href="{{ url_for('search.search_category_post', page=1, q=request.args.get('q')) }}">
                <span class="button">First</span> 
            </a>   
            <a href="{{ url_for('search.search_category_post', page=page-1, q=request.args.get('q')) }}">   
                <span class="button">Previous</span>
            </a>
        </li>
        {% endif %}

        {% for p in pages %}
            {% if p == '...' %}
                <li><span class="page">...</span></li>
            {% elif p == page %}
                <li><a class="page active">{{ p }}</a></li>
            {% else %}
                <li>
                    <a href="{{ url_for('search.search_category_post', page=p, q=request.args.get('q')) }}" class="page">{{ p }}</a>
                </li>
            {% endif %}
        {% endfor %}

        <!-- Button Next Last -->         
        {% if page < total_pages %}
        <li>
            <a href="{{ url_for('search.search_category_post', page=page+1, q=request.args.get('q')) }}">
                <span class="button">Next</span> 
            </a>   
            <a href="{{ url_for('search.search_category_post', page=total_pages, q=request.args.get('q')) }}">   
                <span class="button">Last</span>
            </a>
        </li>
        {% endif %}
    </ul>
</div>
