
<!-- Header -->
<header id="header">
    <a class="logo" href="{{ url_for('blog.index') }}"><strong>BLOGS</strong> by NTTN</a>
    <ul class="icons">
        <!--<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>-->
        <li><a href="#" class="icon brands fa-linkedin"><span class="label">Linkedin</span></a></li>
        <li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
        <li><a href="https://drive.google.com/drive/folders/1ZG2idA94EdH0un2HkBqJHi5MEc2QEiuo?usp=sharing" class="icon brands fa-google-drive"><span class="label">Drive</span></a></li>
    </ul>
</header>
