{% extends 'base/base.html' %}
{% block content %}
<!-- Section -->
<section>
    <header class="major">
        <h2>All Categories (Page {{ page }} of {{ total_pages }})</h2>
        <!-- New Post -->
        {% if current_user.id == 1: %}
        <div class="d-flex justify-content-end mb-4">
            <a
                class="btn btn-primary float-right"
                href="{{url_for('category.add_new_category')}}">Create New Category
            </a>
        </div>
        {% endif %}
    </header>
    <div class="features">
        {% if all_categories == [] %}
        <article>
            <div class="content">
                <h3 style="color: red">Empty content.</h3>
            </div>
        </article>
        {% else %}
        {% for category in all_categories  %}
        <article>
                <a  href="{{ url_for('category.category_posts' , category_id=category.id) }}">
                    {% if category.logo_url %}
                    <span class="diamond-container">
                        <span class="diamond">
                            <img src="{{ url_for('static', filename='/assets/logo/' ~ category.logo_url) }}" alt="Logo">
                        </span>
                    </span>   
                    {% else %} 
                    <span class="diamond-container">
                        <span class="diamond">
                        </span>
                    </span>   
                    {% endif %} 
                </a>
                <div> 
                    <h3>{{category.category_name}}</h3>
                    Create by {{category.author.name}}
                    {% if current_user.id == 1 %}
                    <div style="padding-top: 5%">
                        <a href="{{url_for('category.update_categories', category_id=category.id)}}" class="button small">EDIT</a>
                        <form id="delete-form" method="POST" action="{{ url_for('category.delete_categories', category_id=category.id) }}" style="padding-top: 5%">
                            {% if category.posts|length > 0 %}
                                <button type="submit" class="button primary small" disabled>
                                    Cannot be deleted ({{ category.posts|length }} posts)
                                </button>
                            {% else %}
                                <button type="submit" class="button primary small">✘</button>
                            {% endif %}
                        </form>

                    </div>
                    {% endif %}
                </div>
        </article>
        {% endfor %}
    </div>
    {% endif %}
</section>
<hr>



{% include 'pagination_templates/categories_pagination.html' %}

{% endblock %}