{% extends "base/base.html" %}
{% block content %}

<h2> Category: "{{ categories.category_name }}" have {{ count_posts }} posts</h2>
{% for post in posts %}
<div class="box">
    <div class="features">
        <article>
            <div class="box" style="border-radius: 1em; margin-right: 2em; font-weight: bold; ">
                {{ loop.index }} 
                    {% if categories.logo_url  and post.images|length > 0 %}
                    <span class="img-post-category">
                        <img src="{{ url_for('static', filename='/assets/post_images/' ~ post.images[0].filename) }}">
                    </span>
                    {% else %} 
                    <span class="img-post-category">
                        <img class="post-thumbnail" src="{{ url_for('static', filename='assets/img/empty.png') }}" alt="Image" />
                    </span>
                    {% endif %} 
            </div>
            <a href="{{url_for('post.show_post', post_id=post.id)}}">
                <div class="content">
                    {{ post.categories.category_name}}
                    <h4> {{ post.title }} </h4>
                    <span style="color: #373B44; font-size: 70%">
                        (Create by {{post.author.name}} on {{post.date}}) 
                    </span> 
                </div>
                <div style="color: #373B44"> {{ post.subtitle }} </div>
            </a>
        </article>
    </div>
</div>
{% endfor %}

{% endblock %}


