{% extends 'base/base.html' %}
{% block content %} 

<section style="
    background-image: url('{{ url_for('static', filename='assets/img/post-background.jpg') }}');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 900px;">
<!-- Page Header -->
<header class="masthead">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading" style="text-align: center">
          {% if is_update: %}
          <h1>UUPDATE POST</h1>
          {% else: %}
          <h1>CREATE POST</h1>
          {% endif %}
        <!--  <span class="subheading">You're going to make a great blog post!</span>-->
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content -->
<main class="mb-4">
  <div class="container">
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}  <!-- CSRF token -->
       

        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {{ form.title.label }} 
                {{ form.title(class="form-control", size=50) }}
            </div>  
        </div>    
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {{ form.subtitle.label }} 
                {{ form.subtitle(class="form-control", size=50) }}
            </div>  
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {{ form.body.label }}
                {{ form.body(class="form-control") }}
            </div>
        </div> 
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {{ form.categories.label }}
                {{ form.categories(class="form-control") }}
            </div>
        </div>        
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">  
          {% if is_update %}
          <h3> Old Images </h3>
          {% endif %}

          <div class="row row-cols-1 row-cols-md-3 g-3">
            {% for img_form in form.old_images %}
              {% set image_obj = post.images[loop.index0] %}
              <div>
                <img src="{{ url_for('static', filename='assets/post_images/' ~ image_obj.filename) }}"
                    width="150" class="img-thumbnail mb-2">
                {{ img_form.form.id}}  <!-- HiddenField chứa ID -->
                <div class="form-check">
                  {{ img_form.delete(class_="form-check-input") }}
                  {{ img_form.delete.label(class_="form-check-label") }}
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="form-group">
            {{ form.images.label }}
            {{ form.images(class_="form-control", multiple=True) }}
          </div>

        </div>
      </div>    
      

        <br>
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
              {{ form.submit(class="btn btn-primary") }}
          </div>
        </div>

    </form>

    {{ ckeditor.load() }}
    {{ ckeditor.config(name='body') }}
  </div>
</main>





</section>
<hr>
{% endblock %}
